<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>My Wallet</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="mydata.length > 0">
  <ion-grid class="main-content">
    <div class="features-box">
      <div class="photo">
        <ion-avatar slot="start">
          <img [src]="currentUser.profilePicture" alt="User Photo" />
        </ion-avatar>
        <div class="detail">
          <!-- <ion-card-title color="light">{{ userData?.userName }}</ion-card-title> -->
          <ion-card-title color="light"
            >{{currentUser.userName}}</ion-card-title
          >
          <ion-card-subtitle color="light">
            {{ currentUser?.isSocialLogin ? 'Social Login' : 'Regular User' }}
          </ion-card-subtitle>
        </div>
      </div>
      <ion-card class="balance-card-container">
        <ion-row>
          <ion-col size="12" class="balance-card">
            <h4>Main balance</h4>
            <h1>${{ balance.toFixed(2) }}</h1>
            <ion-grid class="actions">
              <ion-row>
                <ion-col class="action">
                  <!-- Top up SVG and text -->
                </ion-col>
                <ion-col class="action">
                  <!-- Withdraw SVG and text -->
                </ion-col>
                <ion-col class="action">
                  <!-- Transfer SVG and text -->
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-col>
        </ion-row>
      </ion-card>
    </div>

    <div class="ion-fx ion-justify-content-between ion-padding-top">
      <h4>Latest Transactions</h4>
      <p class="text-gray" (click)="goToWalletHistory()">View all</p>
    </div>
    <div *ngFor="let item of transactions">
      <ion-row>
        <ion-col size="12">
          <ion-list class="ion-no-margin">
            <ion-item class="ion-no-padding transaction-card">
              <ion-icon name="cash" class="ion-padding-end"></ion-icon>
              <ion-label class="ion-no-padding">
                <h3>{{ item.description }}</h3>
                <p>{{ item.date }}</p>
              </ion-label>
              <ion-text
                [color]="item.type === 'credit' ? 'success' : 'danger'"
                class="ion-padding-end"
              >
                {{ item.type === 'credit' ? '+' : '-' }}${{
                item.amount.toFixed(2) }}
              </ion-text>
              <svg
                width="6"
                height="10"
                viewBox="0 0 6 10"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M3.78132 4.99999L0.481323 1.69999L1.42399 0.757324L5.66666 4.99999L1.42399 9.24266L0.481323 8.29999L3.78132 4.99999Z"
                  fill="#535D66"
                />
              </svg>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
    </div>
  </ion-grid>
</ion-content>

<ion-content *ngIf="mydata.length === 0">
  <h2>No Data found</h2>
</ion-content>
