.photo {
    display: flex;
    align-items: center;

    ion-avatar {
        img {
            padding: 5px;
            border: 2px solid green;
        }
    }

    .detail {
        margin-left: 10px;
    }
}

ion-card-content {
    ion-icon {
        margin-inline-end: 12px;
    }
}

// .ion-fx {
//     display: flex;
// }
.main-content {
    padding: 16px;

}

.features-box {
    background-color: #270685;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    background-color: #3b3b98;
    padding: 16px;
    border-radius: 8px;
    color: white;
}

.profile-avatar {
    width: 40px;
    height: 40px;
}

.balance-card {
    background-color: #6a61a1;
    border-radius: 12px;
    color: white;
    padding: 16px;
    text-align: center;
}

.balance-card h1 {
    font-size: 2.5em;
    margin: 8px 0;
}

.actions {
    margin-top: 16px;
}

.action {
    text-align: center;
}

.transfers-scroll {
    display: flex;
}

.transfers {
    display: flex;
    align-items: center;
}

.transfer-avatar {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.transfer-avatar ion-icon {
    font-size: 3em;
}

ion-list {
    background: white;
    border-radius: 8px;
    margin-top: 8px;
}

ion-item {
    --background: none;
}

ion-item h3 {
    margin: 0;
}

ion-item p {
    margin: 0;
    font-size: 0.9em;
    color: gray;
}

ion-item ion-text {
    font-size: 1em;
}