<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>myWallet</ion-title>
  </ion-toolbar>
</ion-header>

<!-- <ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">myWallet</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content> -->

<ion-card-header>
  <div class="photo">
    <ion-avatar slot="start">
      <img src="../../../../assets/images/svgs/person.svg" alt="User Photo" />

    </ion-avatar>
    <div class="detail">
      <ion-card-title>Yogi</ion-card-title>
      <ion-card-subtitle routerLinkActive="router-link-active">
      </ion-card-subtitle>
    </div>
  </div>
</ion-card-header>