<ion-grid>
  <ion-row class="ion-align-items-center">
    <ion-col size="3" class="ion-text-end ">
      <div> <img src="../../../assets/icon/up-down.png"></div>
    </ion-col>
    <ion-col size="">
      <ion-row class="">
        <ion-col size="12">
          <h2>Start : Huda City Centre Metro, Gurugram </h2>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <div class="ion-text-center"><ion-icon name="arrow-down"></ion-icon>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <h2>Destination : Bata Chowk, Rajiv Gandhi Colony, New Industrial Township, Faridabad, Haryana</h2>
        </ion-col>
      </ion-row>

    </ion-col>
  </ion-row>

</ion-grid>

<ion-button (click)="close()">
  close
</ion-button>