<h1>Heelo </h1>
<ion-card>
  <ion-card-header>
    <ion-row>
      <ion-col>
        <div class="timeLocationSection">
          <div class="card-item left-part">
            <span class="startTime time">5:00</span>
            <span class="circle"></span>
            <span class="startLocation">Rewari</span>
          </div><br>
          <div>
            <small class="travelTime">2:30</small>
          </div>
          <br>
          <div class="card-item right-part">
            <span class="endTime time">17:20</span>
            <span class="circle"></span>
            <span class="endLocation">Gurugram</span>
          </div>
        </div>
      </ion-col>
      <ion-col>
        <div class="chargesSeatSection ">
          <div class="card-item ion-text-end">
            <div class="fair">Rs 220</div>
          </div><br>
          <div class="card-item ion-text-end">
            <div class="seat">seat avl. 3</div>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-card-header>

</ion-card>

<ion-button (click)="close()">
  close
</ion-button>