<h1>Heelo {{userData['name']}}</h1>
<ion-card>
  <ion-card-header>

    <ion-row>
      <ion-col>
        <div class="timeLocationSection">
          <div class="card-item left-part">
            <span class="startTime time">{{userData['journeyStart']}}</span>
            <span class="circle"></span>
            <span class="startLocation">{{userData['source']}}</span>
          </div><br>
          <div>
            <small class="travelTime">{{journeyDuration}}</small>
          </div>
          <br>
          <div class="card-item right-part">
            <span class="endTime time">{{userData['journeyEnd']}}</span>
            <span class="circle"></span>
            <span class="endLocation">{{userData['destination']}}</span>
          </div>
        </div>
      </ion-col>
      <ion-col>
        <div class="chargesSeatSection ">
          <div class="card-item ion-text-end">
            <div class="fair">Rs {{userData['price']}}</div>
          </div><br>
          <div class="card-item ion-text-end">
            <div class="seat">seat avl. {{userData['seatAvl']}}</div>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-card-header>

</ion-card>


<ion-button (click)="close()">
  close
</ion-button>