.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0rem;
    padding-bottom: 0rem;

    .btn-box {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        margin-top: 2rem;
        width: -webkit-fill-available;
        padding: 2rem;
        border-radius: 30px 30px 0 0;
        background: white;
        box-shadow: 0px -2px 20px 2px;
    }
}

@media (min-width: 768px) {
    .main {
        .btn-box {
            flex-direction: row;
            justify-content: center;
        }
    }
}