<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Welcome</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="main">
    <div class="img-box">
      <img src="" alt="">
    </div>
    <div class="para-box">
      <h2>Welcome to Carpool</h2>
      <p>Start your awsome ride with us!</p>
    </div>
    <div class="btn-box">
      <ion-button expand="block" (click)="loginModal()"> Log in </ion-button>
      <ion-button expand="block"> Register </ion-button>
    </div>
  </div>
</ion-content>