.rideDetails {

    .date,
    .time,
    .seatAvl,
    .price,
    .returnRide {
        border: 2px solid #BAD4DA;
        padding: 0.6rem;
        padding-left: 1rem;
        padding-right: 1rem;
        border-radius: 15px;
        color: black;
        background: rgba(221, 247, 247, 0.7019607843);
    }

    .tofrom {
        max-width: 420px;
        margin: auto;
    }

    .dateTime {
        display: flex;
        justify-content: center;
        width: fit-content;
        margin: auto;
        margin-top: 1rem;
        gap: 1rem;

        .custom-time-container {
            flex-basis: 3rem;
            flex-grow: 1;
        }

        .custom-date-container {
            flex-basis: 10rem;
            flex-grow: 1;
        }
    }

    .seatAvl {
        margin: auto;
        max-width: 420px;
        margin-top: 1rem;
        display: flex;
        gap: 0.5rem;
        align-items: center;

        input {
            background-color: transparent;
            max-width: 2rem;
            text-align: center;
            padding: 0;
            margin: 0;
            border: none;
        }

        ion-button {
            --background: transparent;
            --box-shadow: none;
            color: black;
        }

        .decBtn {
            border-right: 4px solid white;
        }

    }

    .price {
        margin: auto;
        max-width: 420px;
        margin-top: 1rem;
        display: flex;
        gap: 0.5rem;
        align-items: center;

        input {
            background-color: transparent;
            max-width: -webkit-fill-available;
            text-align: end;
            padding: 0;
            margin: 0;
            border: none;
        }
    }

    /* For Webkit browsers (Chrome, Safari, Edge, Opera) */
    input[type=number]::-webkit-outer-spin-button,
    input[type=number]::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    /* For Firefox */
    input[type=number] {
        -moz-appearance: textfield;
    }

    .returnRide {

        max-width: 420px;
        margin: auto;
        margin-top: 1rem;

        ion-radio::part(container) {
            width: 30px;
            height: 30px;

            border-radius: 8px;
            border: 2px solid #ddd;
        }

        ion-radio::part(mark) {
            background: none;
            transition: none;
            transform: none;
            border-radius: 0;
        }

        ion-radio.radio-checked::part(container) {
            background: #6815ec;
            border-color: transparent;
        }

        ion-radio.radio-checked::part(mark) {
            width: 6px;
            height: 10px;

            border-width: 0px 2px 2px 0px;
            border-style: solid;
            border-color: #fff;

            transform: rotate(45deg);
        }

        ion-radio-group {
            display: flex;
        }
    }
}