.rideDetails {
    form {
        max-width: 450px;
        margin: auto;
    }

    .date,
    .time,
    .seatAvl,
    .price,
    .returnRide {
        border: 2px solid #BAD4DA;
        padding: 0.6rem;
        padding-left: 1rem;
        padding-right: 1rem;
        border-radius: 15px;
        color: black;
        background: rgba(221, 247, 247, 0.7019607843);
    }

    .tofrom {
        margin: auto;
    }

    .dateTime {
        display: flex;
        justify-content: space-between;
        // width: fit-content;
        margin: auto;
        margin-top: 1rem;
        gap: 1rem;
    }

    .seatAvl {
        margin: auto;
        margin-top: 1rem;
        display: flex;
        gap: 0.5rem;
        align-items: center;

        input {
            background-color: transparent;
            text-align: left;
            max-width: 130px;
            padding: 0;
            margin: 0;
            border: none;
        }

        ion-button {
            --background: transparent;
            --box-shadow: none;
            color: black;
        }

        .decBtn {
            border-right: 4px solid white;
        }

    }

    .price {
        margin: auto;
        margin-top: 1rem;
        display: flex;
        gap: 0.5rem;
        align-items: center;

        input {
            background-color: transparent;
            max-width: -webkit-fill-available;
            text-align: end;
            padding: 0;
            margin: 0;
            border: none;
        }
    }

    /* For Webkit browsers (Chrome, Safari, Edge, Opera) */
    input[type=number]::-webkit-outer-spin-button,
    input[type=number]::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    /* For Firefox */
    input[type=number] {
        -moz-appearance: textfield;
    }

    input:focus-visible {
        outline: none;
        // text-decoration: underline;
        --border-bottom: 2px solid blue;
        // text-underline-offset: 6px
    }

    .returnRide {
        margin-top: 1rem;

        ion-toggle {
            width: 100%;
        }
    }

    .submit {
        margin-top: 1rem;
    }
}

@media screen and (max-width: 424px) {

    .seatAvl {
        input {
            max-width: 80px !important;
        }
    }

    .price input {
        max-width: 7.8rem !important;
    }
}