<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Create Your Ride</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding rideDetails">
  <form [formGroup]="createRideForm" (ngSubmit)="onCreateRide()">
    <div class="tofrom">
      <app-travel-from-to (locationsChanged)="onLocationsChanged($event)"></app-travel-from-to>
    </div>
    <div class="dateTime">
      <div class="custom-date-container">
        <input type="date" [(ngModel)]="date" class="date" formControlName="date" />
      </div>
      <div class="custom-time-container">
        <input type="time" [(ngModel)]="time" class="time" formControlName="time" />
      </div>
    </div>
    <div class="seatAvl">
      <p>Seat Available</p>
      <input type="number" [(ngModel)]="seatAvl" formControlName="seatAvl" />
      <div>
        <ion-button (click)="decseatAvl()" class="decBtn" [disabled]="seatAvl <= 1">-</ion-button>
        <ion-button (click)="incseatAvl()" [disabled]="seatAvl >= 7">+</ion-button>
      </div>
    </div>
    <div class="price">
      <p>Price Per Person</p>
      <span>Rs-</span>
      <input type="number" [(ngModel)]="price" formControlName="price" />
    </div>
    <div class="returnRide">
      <ion-radio-group value="custom-checked">
        <ion-label>Yes</ion-label>
        <ion-radio slot="start" value="yes" aria-label="Custom checkbox for yes"></ion-radio>


        <ion-label>No</ion-label>
        <ion-radio slot="start" value="no" aria-label="Custom checkbox for no"></ion-radio>

      </ion-radio-group>

    </div>
    <div class="submit">
      <ion-button expand="full" type="submit" [disabled]="createRideForm.invalid">Create
        Ride</ion-button>
    </div>
  </form>
</ion-content>