<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <div class="photo">
        <ion-avatar slot="start">
          @if (currentUser.profilePicture) {
          <img [src]="currentUser.profilePicture" alt="User Photo" />
          }@else {
          <img
            src="../../../../assets/images/svgs/person.svg"
            alt="User Photo"
          />
          }
        </ion-avatar>
        <div class="detail">
          <ion-card-title>{{currentUser.userName}}</ion-card-title>
          <ion-card-subtitle
            [routerLink]="['/profile/rating']"
            routerLinkActive="router-link-active"
          >
            @if (currentUser.rating) {
            <div>4/5 rating</div>
            }@else {
            <div>No rating given</div>
            }
          </ion-card-subtitle>
        </div>
      </div>
    </ion-card-header>
    <ion-card-content class="ion-no-padding ion-padding-bottom">
      @if (!currentUser.profilePicture) {
      <ion-item lines="none">
        <ion-icon slot="start" name="add-circle-outline"></ion-icon>
        <ion-label color="primary">Add profile picture</ion-label>
      </ion-item>
      }
      <ion-item button lines="none" (click)="openEditCard()">
        <ion-icon slot="start" name="create"></ion-icon>
        <ion-label color="primary">Edit personal details</ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Verify your profile</ion-card-title>
    </ion-card-header>
    <ion-card-content class="ion-no-padding ion-padding-bottom">
      <ion-item lines="none">
        <ion-icon
          slot="start"
          [color]="isGovtIdVerified? 'success':'medium'"
          [name]="isGovtIdVerified ? 'checkmark-circle-outline' : 'add-circle-outline'"
        ></ion-icon>
        <ion-label color="primary">Verify your Govt. ID</ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-icon
          slot="start"
          [color]="isEmailVerified? 'success':'medium'"
          [name]="isEmailVerified?'checkmark-circle-outline':'add-circle-outline'"
        ></ion-icon>
        <ion-label *ngIf="!isEmailVerified" color="primary">
          Confirm email {{currentUser.userEmail}}
        </ion-label>
        <ion-label *ngIf="isEmailVerified" color="primary">
          {{currentUser.userEmail}}
        </ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-icon
          slot="start"
          [color]="isPhoneVerified? 'success':'medium'"
          [name]="isPhoneVerified ? 'checkmark-circle-outline' : 'add-circle-outline'"
        ></ion-icon>
        <ion-label *ngIf="!isPhoneVerified" color="primary">
          Confirm phone number {{currentUser.phone}}
        </ion-label>
        <ion-label *ngIf="isPhoneVerified" color="primary">
          {{currentUser.phone}}
        </ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>About you</ion-card-title>
    </ion-card-header>
    <ion-card-content class="ion-no-padding ion-padding-bottom">
      <ion-item lines="none">
        <ion-icon slot="start" name="add-circle-outline"></ion-icon>
        <ion-label color="primary">Add a mini bio</ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-icon slot="start" name="create"></ion-icon>
        <ion-label color="primary">Edit travel preferences</ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Vehicles</ion-card-title>
    </ion-card-header>
    <ion-card-content class="ion-no-padding ion-padding-bottom">
      <ion-item lines="none">
        <ion-icon slot="start" name="add-circle-outline"></ion-icon>
        <ion-label color="primary">Add vehicle</ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>
