.photo {
    display: flex;
    align-items: center;

    ion-avatar {
        img {
            padding: 5px;
            border: 2px solid green;
        }
    }

    .detail {
        margin-left: 10px;
    }
}

ion-card-content {
    ion-icon {
        margin-inline-end: 12px;
    }
}

.rating {
    cursor: pointer;
}

.updateBtn {
    display: flex;
    justify-content: center;
}