<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>search-screen</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- {{ formattedaddress }} -->
  <ion-row>
    <div class="main">
      <div class="para-box">
        <h2>Find a Ride</h2>
        <p>Enter your ride details...</p>
      </div>

      <div class="main-1">
        <ion-col size="12" sizeLg="6" class="ion-padding-top ride-box">
          <ion-input
            type="text"
            fill="outline"
            label="Trip Start"
            placeholder="Trip Start"
            labelPlacement="stacked"
            errorText="Did not found"
            [(ngModel)]="from"
            id="fromLocation"
          ></ion-input>
        </ion-col>

        <ion-col size="12" sizeLg="6" class="ion-padding-top ride-box">
          <ion-input
            type="text"
            fill="outline"
            label="Trip End"
            placeholder="Trip End"
            labelPlacement="stacked"
            errorText="Did not found"
            [(ngModel)]="to"
            id="toLocation"
          ></ion-input>
        </ion-col>

        <div class="togg-btn">
          <button class="togg-btn-1" (click)="swapLocations()">
            swap &#8597;
          </button>
        </div>
        <ion-icon name="calendar-outline"></ion-icon>
        <div class="main-2">
          <ion-datetime-button datetime="datetime"> </ion-datetime-button>

          <ion-modal [keepContentsMounted]="true" class="btn-box-1 clac-btn">
            <ng-template>
              <ion-datetime id="datetime"> </ion-datetime>
            </ng-template>
          </ion-modal>
        </div>

        <button class="btn-btn">
          <div class="flex-box">
            <span>👤</span>
            <div class="counter-input" id="counter" value="0" readonly>
              2 passengers
            </div>
            <div class="counter-input" id="decrement" (click)="decrement()">
              -
            </div>
            <div class="counter-input" id="increment" (click)="increment()">
              +
            </div>
          </div>
        </button>

        <ion-col size="12" sizeLg="6" class="search-box btn-box">
          <ion-button class="login" expand="block">Search > </ion-button>
        </ion-col>
      </div>
    </div>
  </ion-row>
</ion-content>
