<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>search-screen</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- {{ formattedaddress }} -->
  <ion-row>
    <ion-col size="12" sizeLg="6" class="ion-padding-top">
      <ion-input
        type="text"
        fill="outline"
        label="Trip Start"
        placeholder="Trip Start"
        labelPlacement="stacked"
        errorText="Did not found"
        [(ngModel)]="from"
        id="fromLocation"
      ></ion-input>
    </ion-col>

    <ion-col size="12" sizeLg="6" class="ion-padding-top">
      <ion-input
        type="text"
        fill="outline"
        label="Trip End"
        placeholder="Trip End"
        labelPlacement="stacked"
        errorText="Did not found"
        [(ngModel)]="to"
        id="toLocation"
      ></ion-input>
    </ion-col>

    <ion-col size="12" sizeLg="6" class="search-box">
      <ion-button expand="block">Search</ion-button>
    </ion-col>
  </ion-row>
</ion-content>
