
::ng-deep   .input-fill-outline.sc-ion-input-md-h .input-wrapper.sc-ion-input-md {
    border-bottom: none;
    background: #ddf7f7b3;
}  

.main {
    display: flex;
    flex-direction: column;
    // justify-content: space-between;
    // align-items: center;
    width: 100%;
    height: 100%;
    padding: 0rem;
    padding-bottom: 0rem;

    .para-box {
        padding: 0 2rem;

        h2 {
            padding-top: 2rem;
            font-size: 48px;
        }

        p {
            margin-top: -0.5rem;
            font-size: 21px;
            color: #666666;
            font-weight: 400;
        }
    }

    }

    .main-1 {
        margin: 2rem;
    }
 .main-2{
    display: flex;
 }
 .flex-box{
    display: flex;

    border-radius: 19px;
    gap: 2rem;

 
 }
 .counter-input {
    padding: 1rem;
}
.counter-input:nth-child(3) {
    border-left: 2px solid #BAD4DA ;

}
 button.btn-btn {
    margin-top: 1rem;
    border-radius: 12px;
    width: fit-content;
    background: rgba(221, 247, 247, 0.7019607843);
    border: 2px solid #BAD4DA ;
}
.btn-box {

    width: -webkit-fill-available;
    padding: 2rem;
    border-radius: 30px 30px 0 0;
    align-items: center;
    position: absolute;
    bottom: 0rem;
    left: 0rem;

 

    .login
{
        --background: #33A05E;
        --border-radius: 50px;
        text-transform: capitalize;
    }

 
}

@media (min-width: 768px) {
    .main {
        .btn-box {
            flex-direction: row;
            justify-content: center;
        }
    }
}