<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Find Your Ride</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <div class="main">
      <div class="para-box">
        <h2>Find a Ride</h2>
        <p>Enter your ride details...</p>
      </div>

      <div class="main-1">
        <app-travel-from-to></app-travel-from-to>

        <div class="main-2">
          <div class="custom-date-container">
            <input type="date" [(ngModel)]="date" class="date" required />
          </div>
          <div class="custom-time-container">
            <input type="time" [(ngModel)]="time" class="time" required />
          </div>

          <button class="btn-btn">
            <div class="flex-box">
              <img src="../../../assets/images/svgs/person.svg" />
              <div class="counter-input" id="open-modal-addPassanger">
                2 passengers
              </div>
              <div class="counter-input" id="decrement" (click)="decrement()">
                -
              </div>
              <div class="counter-input" id="increment" (click)="increment()">
                +
              </div>
            </div>
          </button>

          <ion-modal class="addPassanger" trigger="open-modal-addPassanger" (willDismiss)="onWillDismiss($event)">
            <ng-template>
              <ion-content class="ion-padding">
                <div class="modalCont">
                  <ion-item class="ion-no-padding">
                    <input label="Enter your name" labelPlacement="stacked" type="number"
                      placeholder="Add Total Passanger" [(ngModel)]="passanger">
                  </ion-item>
                  <p id="errorHere"></p>
                  <ion-row>
                    <ion-col>
                      <ion-button (click)="confirm()" expand="full" [strong]="true">Confirm</ion-button>
                    </ion-col>
                    <ion-col>
                      <ion-button (click)="cancel()" expand="full">Cancel</ion-button>
                    </ion-col>
                  </ion-row>
                </div>
              </ion-content>
            </ng-template>
          </ion-modal>


        </div>

        <div size="12" sizeLg="6" class="search-box btn-box">
          <ion-button class="login" expand="block" (click)="search()">
            Search
            <img src="../../../assets/images/svgs/arrow.svg" class="icon" />
          </ion-button>
        </div>
      </div>
    </div>
  </ion-row>
</ion-content>