.timeLocationSection {
    width: fit-content;
    position: relative;


    .circle {
        min-width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: #a9aeb7;
        display: inline-block;
        vertical-align: middle;
        position: relative;
        border: 1px solid blue;
    }



    .card-item {
        display: flex;
        gap: 1.5rem;
        position: relative;
        align-items: baseline;

        .time {
            min-width: 2.5rem;
        }
    }

}

.timeLocationSection::before {
    content: '';
    height: calc(100% - 1rem);
    width: 0.1rem;
    left: 4.25rem;
    top: 0rem;
    background-color: blue;
    position: absolute;
}


.travelDetails {

    p:first-child {
        font-weight: 700;
        color: green;
        padding-left: 1.7rem;
    }

    p:last-child {

        padding-left: 1.7rem;
    }

    .location {
        font-size: 24px;
        margin-top: 0;
        margin-bottom: 0;
        display: flex;
        gap: 0.2rem;
        align-items: center;
    }

    .location ion-icon {
        height: 1.5rem;
        width: 1.5rem;
    }
}