<!-- vehicle.component.html -->
<ion-card class="ion-padding">
  <ion-row>
    <ion-col>
      <ion-title class="ion-no-padding"> Vehicle Details </ion-title>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="12" class="ion-padding-bottom">
      <ion-select label="Vehicle Type" fill="outline" labelPlacement="stacked" interface="popover"
        placeholder="Select Vehicle Type" justify="space-between" [(ngModel)]="vehicleDetails.vehicleType"
        name="vehicleType" required>
        <ion-select-option value="Car">Car</ion-select-option>
        <ion-select-option value="Bus">Bus</ion-select-option>
      </ion-select>
    </ion-col>
    <ion-col size="12" class="ion-padding-bottom">
      <ion-input type="text" label="Vehicle Name" fill="outline" labelPlacement="stacked"
        placeholder="Enter your vehicle name" [(ngModel)]="vehicleDetails.vehicleName" name="vehicleName" required>
      </ion-input>
    </ion-col>
    <ion-col size="12" class="ion-padding-bottom">
      <ion-input type="text" label="Vehicle Number" fill="outline" labelPlacement="stacked"
        placeholder="Enter your vehicle number" [(ngModel)]="vehicleDetails.vehicleNumber" name="vehicleNumber"
        required>
      </ion-input>
    </ion-col>
    <ion-col size="12" class="ion-padding-bottom">
      <ion-input type="text" label="Vehicle Color" fill="outline" labelPlacement="stacked"
        placeholder="Enter your vehicle Color" [(ngModel)]="vehicleDetails.vehicleColor" name="vehicleColor" required>
      </ion-input>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="6">
      <ion-button expand="block" color="danger" (click)="close()">Cancel</ion-button>
    </ion-col>
    <ion-col size="6">
      <ion-button expand="block" color="primary" (click)="submit()">Save</ion-button>
    </ion-col>
  </ion-row>
</ion-card>