.photo {
    display: flex;
    align-items: center;

    ion-avatar {
        img {
            padding: 5px;
            border: 2px solid green;
        }
    }



    .detail {
        margin-left: 10px;
    }
}