.filterArea {
    max-width: fit-content;

    div {
        padding: 0.8rem;
        display: flex;
        align-items: center;
        border-radius: 8px;
        background-color: #DCEEF2;
        width: fit-content;

        svg {
            height: 1.5rem;
            width: 1.5rem;
        }
    }
}

.backBtn {
    max-width: 2rem;
    display: flex;
    align-items: center;

    ion-icon {
        font-size: 4.5rem;
    }
}