.main-content{
    box-sizing: border-box;
    padding-left: 2rem;
}
.search-type{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    max-width: 500px;
    margin-left: -1.5rem !important;
}
button.filter-btn {
    display: flex;
    align-items: center;
    gap: 0.4rem;
    padding: 8px;
    padding-left: 0px;
    padding-right: 15px;
    border-radius: 8px;
    cursor: pointer;
    background: transparent;
    border: 1px solid gainsboro;
}
button.filter-btn:hover{
    background-color: #a79e9e2b;
}

::ng-deep  input.searchbar-input.sc-ion-searchbar-md {
    border-radius: 8px;
    border: 1px solid gainsboro;
}
.text {
    padding-left: 0rem;
    font-size: 15px;
    font-weight: 500;
}

ion-list.ion-no-margin.md.list-md {
    padding-left: 0rem;
}
   
ion-modal>.ion-page {
    position: relative;
    contain: layout style;
    height: 100%;
}
// .filter-box{
//     display: flex;
//     flex-direction: row;
//     align-items: baseline;
// }
::ng-deep .popover-viewport:has(>ion-content) {
    overflow: hidden;
    --width: 255px;
    // height: 300px;
}
.cred-debts {
    display: flex;
    gap: 0.5rem;
    padding-top: 1.5rem;
}
.credit{
    border: 2px solid gainsboro;
    padding: 0.5rem;
    border-radius: 8px;
    background-color: transparent;
    color: black;
    font-size: 15px;
    font-weight: 400;

}
.debit{
    border: 2px solid gainsboro;
    padding: 1rem;
    border-radius: 8px;
    background-color: transparent;
    color: black;
    font-size: 15px;
    font-weight: 400;

}
// .para-txt{
//     flex-basis: 8rem;
//     flex-grow: 1;
// }
// .date{
//     flex-basis: 10rem;
//     flex-grow: 1; 
// }