<ion-content>
  <ion-list class="ion-padding">
    <ion-item detail="true" lines="">
      <ion-label>
        <h3>Ratings given</h3>
      </ion-label>
    </ion-item>

    <ion-item button detail="true" lines="none">
      <ion-label>
        <h3>Notifications, emails & SMS</h3>
      </ion-label>
    </ion-item>

    <ion-item button detail="true" lines="none">
      <ion-label>
        <h3>Password</h3>
      </ion-label>
    </ion-item>

    <ion-item button detail="true" lines=""
      ><!-- -->
      <ion-label>
        <h3>Postal address</h3>
      </ion-label>
    </ion-item>
    <!--  -->
    <ion-item button detail="true" lines="none">
      <ion-label>
        <h3>Bank details</h3>
      </ion-label>
    </ion-item>
    <!--  -->
    <ion-item button detail="true" lines="none">
      <ion-label>
        <h3>Payouts</h3>
      </ion-label>
    </ion-item>
    <!--  -->
    <ion-item button detail="true" lines="none">
      <ion-label>
        <h3>Payment methods</h3>
      </ion-label>
    </ion-item>
    <ion-item button detail="true" lines="">
      <ion-label>
        <h3>Payments & refunds</h3>
      </ion-label>
    </ion-item>

    <ion-item button detail="true" lines="">
      <ion-label>
        <h3>Data protection</h3>
      </ion-label>
    </ion-item>
    <ion-item button detail="false" lines="">
      <ion-label>
        <h3 class="sky">Log out</h3>
      </ion-label>
    </ion-item>
    <ion-item button detail="false">
      <ion-label>
        <h3 class="sky">Close my account</h3>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
