<ion-content [fullscreen]="true">
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title>My Update</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card *ngFor="let ride of rideList;let i = index " (click)="rideDetailView(i)">
    <ion-header>
      <ion-row>
        <ion-col>
          <div class="travelDetails">
            <p>Source</p>
            <div class="location">
              <div class="locationIcon">
                <!-- SVG Icon -->
              </div>
              <b>{{ ride.source }}</b>
            </div>
            <p>{{ ride.journeyStart }}</p>
          </div>
        </ion-col>
        <ion-col class="ion-text-center timeSection">
          <div class="totalTimeTakenArea">
            <div class="timeBox">
              {{ journeyDuration }}
            </div>
            <div class="arrowIcon">
              <!-- Arrow SVG -->
            </div>
          </div>
        </ion-col>
        <ion-col class="ion-text-end">
          <div class="travelDetails">
            <p>Destination</p>
            <p class="location ion-justify-content-end">
              <b>{{ ride.destination }}</b>
            </p>
            <p>{{ ride.journeyEnd }}</p>
          </div>
        </ion-col>
      </ion-row>
    </ion-header>
    <div class="divider"></div>
    <ion-card-content>
      <ion-row>
        <ion-col>
          <div class="usersList">
            <ion-avatar>
              <!-- User Avatar -->
            </ion-avatar>
            <div class="details">
              <!-- User Details -->
            </div>
          </div>
        </ion-col>
        <ion-col>
          <div class="seatPriceSection">
            <ion-item lines="none">
              <ion-badge class="ion-no-margin ion-no-padding" slot="end">
                {{ ride.seatAvl }}
                <ion-label>
                  <!-- Price SVG -->
                </ion-label>
              </ion-badge>
            </ion-item>
          </div>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
</ion-content>