<ion-content [fullscreen]="true">
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title>My Update</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card *ngFor="let ride of rideList;let i = index " (click)="rideDetailView(i)">
    <ion-header>
      <ion-row class="ion-padding">
        <ion-col size="12" class="">
          <div class="travelDetails">
            <!-- <p>Source</p> -->
            <div class="location">
              <div class="locationIcon">
                <img src="../../../assets/images/svgs/start.svg" alt="" class="pin-img">
              </div>
              <b>{{ ride.from }}</b>
            </div>
          </div>
        </ion-col>

        <ion-col size="12" class="">
          <div class="travelDetails">
            <!-- <p>Destination</p> -->
            <!--  -->
            <div class="location end">
              <div class="locationIcon">
                <img src="../../../assets/images/svgs/round.svg" alt="" class="pin-img red-filter ">
              </div>
              <b>{{ ride.to }}</b>
            </div>
          </div>
        </ion-col>
      </ion-row>
    </ion-header>
    <!-- <div class="divider"></div> -->

  </ion-card>
</ion-content>