ion-card {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 25px 2px,
        rgba(0, 0, 0, 0.14) 1px 3px 7px -2px,
        rgba(0, 0, 0, 0.12) -12px 12px 21px 0px;


    .travelDetails {

        p:first-child {
            font-weight: 700;
            font-size: 12px;
            color: #33A05E;
            padding-left: 1.7rem;
        }

        p:last-child {
            color: #BAD4DA;
            font-weight: 700;
            font-size: 12px;
            padding-left: 1.7rem;
        }

        .location {
            font-size: 16px;
            margin-top: 0;
            margin-bottom: 0;
            display: flex;
            gap: 0.2rem;
            align-items: center;

            .locationIcon svg {
                height: 1.5rem;
                width: 1.5rem;
                color: #D3E3E7;
            }
        }
    }

    .timeSection {
        display: flex;
        align-items: center;
        justify-content: center;

        .totalTimeTakenArea {
            width: 8rem;
            height: fit-content;
            position: relative;
            display: flex;
            justify-content: center;

            .timeBox {
                width: fit-content;
                height: fit-content;
                background-color: #a9aeb7;
                padding: 0.1rem 0.5rem;
                border-radius: 1rem;
                color: #33666C;
                font-size: 11px;
            }

            .arrowIcon svg {
                position: absolute;
                width: 100%;
                left: 0;
                height: 1rem;
                top: 10%;
                z-index: -1;

            }

        }
    }

    .divider {
        height: 0.1rem;
        background-color: #D3E3E7;
        width: 100%;
    }

    .userInfo {
        display: flex;
        gap: 1rem;

        ion-avatar {
            --border-radius: 15%;
        }

        .details {
            display: flex;
            flex-direction: column;
            justify-content: space-around;

            p {
                font-size: 11px;
            }

            div {
                font-size: 15px;
            }
        }
    }

    .seatPriceSection {
        display: flex;
        align-items: center;
        // gap: 1rem;
        justify-content: end;

        .price {
            padding: 0.1rem 0.5rem;
            background-color: #279657;
            color: white;
            font-size: 16px;
            border-radius: 1rem;
        }

        ion-badge {
            background-color: red;
            color: white;
            font-size: 12px;
            padding: 0.2rem 0.7rem;
            border-radius: 1rem;
        }
    }
}