
ion-card-content {
    ion-icon {
        margin-inline-end: 12px;
    }
}

.ion-fx {
    display: flex;
}

.main-content {
    padding: 16px;

}











.ion-img {
    width: 2rem;
}

.actions {
    margin-top: 16px;
}

.action {
    text-align: center;
}

.transfers-scroll {
    display: flex;
}

.transfers {
    display: flex;
    align-items: center;
}

.transfer-avatar {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.transfer-avatar ion-icon {
    font-size: 3em;
}

ion-list {
    background: white;
    border-radius: 8px;
    margin-top: 8px;
}

ion-item {
    --background: none;
}

ion-item h3 {
    margin: 0;
}

ion-item p {
    margin: 0;
    font-size: 0.9em;
    color: gray;
}

ion-item ion-text {
    font-size: 1em;
}


.transaction-card {
    gap: 1rem;
}

/* Wallmart */